{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<br>
<br>
<a class="banner-btn-3-active" href='{{ url_for("add_favourite") }}'>Добавить в избранное</a>
<br>
<br>
<div class="showed" id="list-of-links">
    {% for link in all_favourites %}
    <div class="col-xs-12 mb-30">
        <div class="service-list-box bg-white text-center">
            <div class="icon"><i class="fas fa-map-marked"></i></div>
            <div class="icon-text">
                <p style="text-overflow: ellipsis;">{{ link.url }}</p>
                <br>
                <a href="{{ link.url }}">Перейти</a>
                <br>
                <br>
                <a style="color: #3c6fff;" href="{{ url_for('edit_favourite', idd=link.id) }}">Изменить</a>
                <br>
                <br>
                <a style="color: red;" href="{{ url_for('favourite_delete', idd=link.id) }}">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}