{% extends 'base.html' %}

{% block content %}
<div class="col-md-12 section-title text-center">
    <div class="col-lg-12 section-title text-center">
        <h3>Анализатор веб-страниц онлайн.</h3>
    </div>
    <p>Вам лишь достаточно ввести адрес на желаемую веб-страницу. <br> Остальное сделаем мы.</p>
    <span class="section-title-line"></span>
</div>

<form action="{{ url_for('service') }}" method="post">
    {{ form.csrf_token() }}
    {{ form.hidden_tag() }}
    <p>
        {{ form.url.label }}<br>
        {{ form.url(class_="registration_field", placeholder="https://www.youtube.com/") }}<br>
        {% for error in form.url.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(class_="registration_button") }}</p>
</form>


{% endblock %}